.divGrafica
{
	overflow:hidden;height:97%; 
	width:97%; 
	position: absolute;top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}

#canvas .circle {
      display: inline-block;
      margin: 1em;
}

.circles-decimals {
      font-size: .4em;
}