html, body { height: 100%; padding: 0; margin: 0; text-align: center;}
div { width: 20%; height: 100%; float: left; margin-top: 0.5%; margin-bottom: 0.5%;  border: 1px solid #3399FF; 
		border-radius: 10px;  }
th{
	background-color: #3399FF;
	color: #FFFFFF;
	font-size: 12px;
}

tr{
	font-size: 12px;
}
#div1 { background: #FFFFFF;
		/*margin-left:0.5%;
		margin-right: 0.25%;*/
	  }
#div11 { background: #FFFFFF;
		/*margin-left:0.5%;
		margin-right: 0.25%;*/
	  }

#div2 { background: #FFFFFF;
		/*margin-right: 0.25%;
		margin-left: 0.5%;*/
	  }

#div3 { background: #FFFFFF;
		/*margin-right: 0.25%;
		margin-left: 0.5%;*/
	  }
#div4 { background: #FFFFFF;
		/*margin-right: 0.25%;
		margin-left: 0.5%;*/
	  }
#div5 { background: #FFFFFF;
		/*margin-right: 0.25%;
		margin-left: 0.5%;*/
	  }

#frame { width: 100%;
		 height:100%;}
#frame2 { width: 100%;
		 height:100%;}		 
#tabla { width: 100%;
		 height:100%;
		 margin-top: 0.5%;
	   }

