html, body { height: 100%; padding: 0; margin: 0; text-align: center; overflow:hidden;}

.div {

	 float: left; margin-top: 0.25%; margin-bottom: 0.25%;
	 background: #ffffff;
	 margin-left:0.25%;
	 margin-right: 0.25%;
}


#contenedor1{

	width: 50%; height: 100%;
	 border: 0px;
	 margin-left:0%;
	 margin-right: 0%;
}

#contenedor2{

	width: 50%; height: 100%;
	 border: 0px;
	 margin-left:0%;
	 margin-right: 0%;
	
}


#div1{
		width: 99%; height: 49.2%;

}

#div2{
		width: 99%; height: 49.2%;
}


#div3{
		width: 99%; height: 49.2%;
		/*position:relative; */ 
}

#div4{
		width: 99%; height: 49.2%;
		
		/*position:relative; */
}
.div2 {
	margin-right: 0.25%;
	margin-left: 0.5%;
	border: 1px solid #3399FF;
}




